[data-theme="dark"] {
    --bg-color: var(--bg-dark);
    --text-color: var(--text-dark);
    --glass-bg: var(--glass-bg-dark);
    --glass-border: var(--glass-border-dark);
    --loading-text-color: var(--text-dark);
}

[data-theme="light"] {
    --bg-color: var(--bg-light);
    --text-color: var(--text-light);
    --glass-bg: var(--glass-bg-light);
    --glass-border: var(--glass-border-light);
    --loading-text-color: var(--text-light);
}
